<!DOCTYPE html>
<html lang="en">
<head>
<title>Imaginary App Project</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
     <!--this code tells the browser to link to the style.css file that controls the appearance of much of your content.--> 
    
<link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <div class="navbar">
        <a href="../index.html">Home</a>
        <a href="twine.html">App</a>
      </div>

      <div class="app-image">
        <div class="app-text">
            <h1>Imaginary App</h1>
        </div>
    </div>

    <div class="main">
        <div class='textblock'>
            <h1>Friction</h1>

            <h3>Smartphones are powerful. They can hold a multitude of applications that aid us in everyday life. We can listen to music on demand,
                watch videos and movies on demand, order anything we want on demand. However, what happens when the add friction, when we make these apps, 
                which are specifically designed to be easy to use, more frustrating? Well, take TikTok as an example; it's easy to use, just scroll through 
                the endless amounts of short videos to watch. By adding friction, such as a manual scroll wheel (that controls playback), it makes it a lot more 
                frustrating. My report highlights a little more about the features of this new app.
            </h3>
        </div>

        <div> 
            <img src="../app.jpg" alt="ClikClok with finger wheel" class="center-image"  style="max-width:50%; max-height:50%;">
               </div>
        <div class="textblock">
            <a href="Imaginary App.pdf">Link to report</a>

        </div>
        <div class="parallax-3"></div>
    </div>

   

</body>

</html>