<!DOCTYPE html>
<html lang="en">
<head>
<title>Twine Project</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
     <!--this code tells the browser to link to the style.css file that controls the appearance of much of your content.--> 
    
<link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <div class="navbar">
        <a href="../index.html">Home</a>
        <a href="app.html">App</a>
      </div>

    
        <div class="burnout-image">
            <div class="burnout-text">
                <h1>Welcome to the Twine page</h1>
            </div>
        </div>
    <div class="main">
        <div class="textblock">
        
            <h1>What is Twine?</h1>
            <h3>Twine is a platform that allows users to create interative stories based on user input. Sort of like a interactive adventure game.
                My project on twine uses the twine engine to create an interactive story about burnout. I thought it was relevent, given the world was still
                recovering from the pandemic. I heard a lot about the term burnout, and even experienced it myself with academics. The story follows someone
                with a corporate worklife, and has multiple endings based on user input. The experience is to draw attention to the causes and symptoms of burnout.
            </h3>
            <h2>Here is a link to <a href="https://twinery.org/">Twine</a> to learn more about the service.</h2>
            <h2>And here is a link to my <a href="https://sites.pitt.edu/~aly43/">project</a></h2>
            

        </div>

        <div class="parallax-2"></div>

    </div>
    
</body>

</html>