<!DOCTYPE html>
<html lang="en">
<head>
<title>Twine Project</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
     <!--this code tells the browser to link to the style.css file that controls the appearance of much of your content.--> 
    
<link rel="stylesheet" type="text/css" href="../style.css">
</head>

<body>
    <div class="navbar">
        <a href="../index.html">Home</a>
      </div>

    
        <div class="burnout-image">
            <div class="burnout-text">
                <h1>Welcome to the Twine page</h1>
            </div>
        </div>

        <div class="textblock">
        
            <h1>What is Twine?</h1>

            <a href="https://sites.pitt.edu/~aly43/">Link to my twine project</a>

        </div>

        <div class="parallax-2"></div>

        <div>
            <h2>
                Use this link to visit
                <a href="../index.html">Home</a>
            </h2>
        </div>
    
    
</body>

</html>