<!DOCTYPE html>
<html lang="en">
<head>
<title>Twine Project</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
    
     <!--this code tells the browser to link to the style.css file that controls the appearance of much of your content.--> 
    
<link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>

    <h1>Welcome to the Twine page</h1>

    <h1>What is Twine?</h1>

    <a href="https://sites.pitt.edu/~aly43/">Link to my twine project</a>

</body>

</html>